{% extends 'base.html' %}

{% block title %}
    {{ post.title_tag }}
{% endblock %}


{% block content %}
{% load static %}
<h1>{{ post.title }}</h1>
<small>
    By: {{ post.author.first_name }}
    {{ post.author.last_name }} - 
    {{ post.post_date }}
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <a href="{% url 'update_post' post.pk %}">(Edit Article)</a>
            <a href="{% url 'delete_post' post.pk %}">(Delete Article)</a>
        {% endif %}
    {% endif %}
</small><br/>
<br/>
{% if post.img_path %}
    <img src="{% static post.img_path %}" class="img-fluid">
{% endif %}
<!-- <audio controls>
    <source src="{% static 'Draft_Order_Podcast_2023.mp3' %}" type="audio/mpeg">
</audio> -->
{% if post.podcast_path %}
<br/>
<br/>
    <audio controls>
        <source src="{% static post.podcast_path %}" type="audio/mpeg">
    </audio>
{% endif %}
<br/>
<br/>
<br/>
{{ post.body|safe }}

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<br/>
<br/>

{% endblock %}