{% extends 'base.html' %}


{% block content %}

{% if category_posts %}
    <h1>{{ cats }} Category</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">

        {% for post in category_posts %}
            <div class="col">
                <div class="card h-100 text-bg-dark mb-3">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'article_detail' post.pk %}">{{ post.title }}</a> - </h5>
                        <p class="card-text">{{ post.body|slice:":100"|safe }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a> - 
                            By: {{ post.author.first_name }} 
                            {{ post.author.last_name }} - 
                            {{ post.post_date }}
                        {% if user.is_authenticated %}
                            <small>
                                - <a href="{% url 'update_post' post.pk %}">(Edit)</a>
                                <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
                            </small>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% else %}
<h2>Sorry this page deos not exist!</h2>
{% endif %}



{% endblock %}