{% extends 'base.html' %}


{% block content %}

<h1 class="heading text-white text-center">Rankings</h1>
</br>
{% if user.is_superuser %}
    <div class="form-group">
        <div class="d-flex">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_table }}
                <button class="btn btn-success">Draft</button>
            </form>
            <a href="{% url 'clear_draft' %}" class="btn btn-success" role="button">Clear Draft</a>
        </div>
    </div>
    </br></br>
{% endif %}
<!-- <div class="container"> -->
    <div class="row">
        <a class="text-white text-sm mb-1" href="{% url 'rankings' %}">Clear Filters</a>
        <form method="get">
            <div style="display: grid"> 
                {% for field in filter.form %}
                    <div id="form-field-{{ forloop.counter0 }}">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-success mb-3 mt-2">Filter</button>
        </form>
        <!-- <div class="col-sm-4 table-responsive"> -->
            <!-- <h2 class="sub-header text-center">ESPN ADP</h2> -->
            <div class="table-wrapper">
                <table class="table table-fixed">
                    <thead class="sticky-top">
                    <tr class="table-dark">
                        <th scope="col">Rank</th>
                        <th scope="col">Player</th>
                        <th scope="col">Position</th>
                        <th scope="col">Team</th>
                        <th scope="col">Bye Week</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    {% for player in filter.qs %}
                        {% if player.drafted == True %}
                            <tr class="table-danger text-decoration-line-through">
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{player.name}}</td>
                                <td>{{player.position}}</td>
                                <td>{{player.team}}</td>
                                <td>{{player.bye}}</td>
                            </tr>
                        {% else %}
                            <tr class="table-dark">
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{player.name}}</td>
                                <td>{{player.position}}</td>
                                <td>{{player.team}}</td>
                                <td>{{player.bye}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        <!-- </div> -->

    </div>
<!-- </div> -->

{% endblock %}